.headerApp{
    background-color: aliceblue;
    width: 100%;

}
.headerApp ul{
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 999;
    background-color: rgb(253, 246, 246);

}
.headerApp ul li{
    list-style: none;
    padding: 4px;
}
.headerApp button{
   border-radius: 12px;
}
.headerApp a {
    text-decoration: none;
}
.logo-text {
  font-family: 'Inter', sans-serif; /* Or any clean sans-serif */
  font-weight: 800;
  letter-spacing: -1px;
  color: #333;
  margin: 0;
  cursor: pointer;
}

.logo-text span {
  color: #0d6efd; /* Bootstrap blue or your brand color */
}
